{% extends 'default.html' %}

{% block title %}Все публикации{% endblock %}

{% block content %}
<form action="" method="get">
       {{ filterset.form.as_p }}
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
       <input type="submit" value="Найти" />
   </form>
{% if posts %}
    <table>
           <tr>
               <td style="width: 450px;">Заголовок</td>

               <td style="width: 200px;">Дата публикации</td>

               <td style="width: 200px;">Превью</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.name|truncatechars:50 }}</td>
               <td>{{ post.added|date:'d M Y' }}</td>
               <td>{{ post.content|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

       </table>
{% endif %}
{% endblock %}